.todo-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.todo-list-item{
	list-style-type: none;
	margin: 10px;
}

.card-content-container{
	background-color: rgba(63, 81, 181, 0.55);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.todo-list-item .mdl-card{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 145px;
    position: relative;
}

.todo-list-item .mdl-card__title-text{
	font-size: 18px;
    font-weight: bold;
    max-width: 195px;
}


.todo-list-item .mdl-card__title{
	margin-bottom: 0;
}

.todo-list-item .mdl-card__title, .todo-list-item .mdl-card__supporting-text{
	color: white;
	word-wrap: break-word;
}

.todo-list-item .mdl-card__menu{
	color: white;
}



#camera-dialog{
	text-align: center;
}

#camera-tag, #item-dialog-picture{
	width: 100%;
}

#item-dialog-picture[src='']{
	display: none;
}